@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap');
body{
    color: #374045;
    background-color: #ffeebb;
    font-family: 'Fraunces', serif;
    font-weight: bold;
}
/* The Header */
header {
    position: relative;
    background: linear-gradient(
      90deg,
      #f1aa9b 0%,
      #2c061f 100%);
    width: 100%;
    height: 200px;
}
i{
    font-size: 30px;
    color:#ffeebb;
    padding: 5px;
}
i:hover{
    color:#2c061f;
}
#logo{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    left:100px;
}
header nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    float: right;
    padding-right: 50px;
}
header p{
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px 550px;
}
/* The main */

/*First Section*/
h1{
    font-size: 30px;
    font-weight: bold;
    width: fit-content;
    margin: 40px auto 20px auto;
}
main section p{
    text-align: center;
    line-height: 1.5;
    margin: 10px auto 20px auto;
    font-size: 20px;
}
#form{
    border: 2px solid #374045;
    width: 500px;
    font-size: 25px;
    text-align: center;
    padding: 20px;
    line-height: 1.5;
    margin: 10px auto 20px auto;
}
#input{
    width: 150px;
}
#submit{
    width: 100px;
    height: 25px;
    color:#374045;
    font-weight: bold;
}
/* The Secound Section */

#left-img,#middle-img,#right-img{
    width: 250px;
    height: 250px;
    padding-left: 20px;
}
.imgs{
    width: fit-content;
   margin:50px auto;
}

/* The Third Section */
.third{
    margin: auto;
    width: fit-content;
}
#show-result{
    visibility:hidden;
    font-size: 20px;
    width: 150px;
    height: 40px;
    margin: 10px auto;
    color:#374045;
    font-weight: bold;
}
#Result{
    list-style-type: circle;
    font-size: 15px;
    line-height: 1.5;
    margin: 10px auto 20px auto;
}
h2{
    visibility: hidden;
    font-size: 30px;
    font-weight: bold;
    margin: auto;
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: #2c061f;
}
#theChart{
 margin: 20px auto;
 width: 1000px !important;
}
/* The footer*/
footer{
    margin:auto;
    height: 100px;
    line-height: 1.5;
    background: linear-gradient(
      90deg,
      #f1aa9b 0%,
      #2c061f 100%);
    text-align: center;
}
footer p{
    padding-top: 50px;
    font-size: 20px;
}